@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: "Poppins", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-playfair: "Playfair Display", serif;
  color-scheme: light;
}

* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-sans bg-n-1 text-n-10 text-base;
  }
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: -200%;
  }
}

@keyframes gradient-circular {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@layer utilities {
  .animate-gradient {
    animation: gradient 8s linear infinite;
  }
  .animate-gradient-circular {
    animation: gradient-circular 2s linear infinite;
  }
}
